<table style="width:100%;max-width:620px;margin:0 auto;">
    <tbody>
        <tr>
            <td style="text-align: center; padding:25px 20px 0;">
                <p>&copy;2024 Decot, Inc. All rights reserved.</p>
                <p style="font-size: 13px;"><strong>Email:</strong> support@decot.io <br> <strong>Website: </strong> <a style="color: #ec990c; text-decoration:none;" href="https://app.decot.io">app.decot.io</a></p>
                <!-- <ul style="margin: 10px -4px 0;padding: 0;">
                  <li style="display: inline-block; list-style: none; padding: 4px;"><a style="display: inline-block; height: 30px; width:30px;border-radius: 50%; background-color: #ffffff"><img style="width: 30px" src="https://vonic-email-images.s3-ap-southeast-1.amazonaws.com/brand-b.png" alt="brand"></a></li>
                  <li style="display: inline-block; list-style: none; padding: 4px;"><a style="display: inline-block; height: 30px; width:30px;border-radius: 50%; background-color: #ffffff"><img style="width: 30px" src="https://lh3.googleusercontent.com/ZU9cSsyIJZo6Oy7HTHiEPwZg0m2Crep-d5ZrfajqtsH-qgUXSqKpNA2FpPDTn-7qA5Q=s60-cc" alt="brand"></a></li>
                  <li style="display: inline-block; list-style: none; padding: 4px;"><a style="display: inline-block; height: 30px; width:30px;border-radius: 50%; background-color: #ffffff"><img style="width: 30px" src="https://vonic-email-images.s3-ap-southeast-1.amazonaws.com/brand-d.png" alt="brand"></a></li>
              </ul> -->
            </td>
        </tr>
    </tbody>
</table>
</td>
</tr>
</table>
</center>
</body>

</html>